rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email == "samia.ridheeka.251@northsouth.edu";
    }

    match /{document=**} {
      allow read, write: if isAllowed();
    }
  }
}

