rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userEmail() {
      return request.auth.token.email;
    }

    function isEditor() {
      return request.auth != null
        && userEmail() != null
        && userEmail() in [
          "samia.ridheeka.251@northsouth.edu"
        ];
    }

    function isViewer() {
      return request.auth != null
        && userEmail() != null
        && userEmail() in [
          "muntasir.ali@northsouth.edu",
          "unknownflexx@gmail.com"
        ];
    }

    function isAllowed() {
      return isEditor() || isViewer();
    }

    match /{document=**} {
      allow read: if isAllowed();
      allow write: if isEditor();
    }
  }
}

